<div class="modal fade" tabindex="-1" role="dialog" id="{{modalId}}" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Current Image</label>
                        <img class="img-responsive" ng-src="{{currentImage | orDefaultImage}}">
                    </div>
                    <div ng-hide="unsupported" class="col-xs-6">
                        <label>New Image</label>
                        <div class="extra-space-below">
                            <img ng-show="imageFile" class="img-responsive" ngf-src='imageFile'>
                            <img ng-show="clearImage" class="img-responsive" ng-src='{{null | orDefaultImage}}'>
                        </div>
                        <div class="btn btn-default" ngf-pattern="'image/*'" ng-model="imageFile" ngf-select="selected()" ngf-fix-orientation="true"
                             ngf-model-invalid="invalid" ngf-accept="'image/*'" ngf-max-size="3MB" ngf-capture="'other'">Select
                        </div>
                        <button ng-show="currentImage" type="button" class="btn btn-default" ng-click="none()">None</button>
                        <p class="text-danger" ng-show="invalid.$error == 'maxSize'">File too large. Max is 3MB.</p>
                        <p class="text-danger" ng-show="invalid.$error == 'pattern'">Invalid file type.</p>
                    </div>
                    <div ng-show="unsupported" class="col-xs-6">
                        <br/>
                        <div class="alert alert-danger" role="alert">Sorry, your browser does not support the image upload feature. Please try a different browser.</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button ng-disabled="!(imageFile || clearImage)" type="button" class="btn btn-primary" ng-click="saveClick()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
