<h3>Reset Password</h3>
<div class="row" scroll-pos="top">
    <div class="col-md-6 col-lg-5 col-sm-8">
        <div class="well">
            <div>
                <form name="form" ng-submit="$ctrl.resetPassword(form)" class="extra-space-below" novalidate promise-btn>
                    <div class="form-group">
                        <label>Email *</label>
                        <input type="text" name="uEmail" class="form-control" ng-model="$ctrl.user.email" required/>
                        <div class="text-danger" ng-show="form.$submitted || form.uEmail.$touched">
                            <div ng-show="form.uEmail.$error.required">Required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>New Password *</label>
                        <input type="password" class="form-control" name="uPassword" ng-model="$ctrl.user.password" required/>
                        <div class="text-danger" ng-show="form.$submitted || form.uPassword.$touched">
                            <div ng-show="form.uPassword.$error.required">Required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Re-type new password *</label>
                        <input type="password" name="uPasswordConfirmation" class="form-control" ng-model="$ctrl.passwordConfirmation" compare-to="$ctrl.user.password"/>
                        <div class="text-danger" ng-show="form.$submitted || form.uPasswordConfirmation.$touched">
                            <div ng-show="form.uPasswordConfirmation.$error.compareTo">Does not match</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>