<div scroll-pos="top">
    <a ng-hide="$ctrl.isRootUser()" class="btn btn-default" ui-sref="users.index">All Users</a>
    <h2 ng-show="$ctrl.isRootUser()">Welcome</h2>
    <h2 ng-hide="$ctrl.isRootUser()">User Details</h2>
    <gg-user user="$ctrl.user" highlight
             on-edit="$state.go('users.edit', {id: $ctrl.user.id})"
             show-edit="$root.authorizer.userCanEditUser($root.user, $ctrl.user)"
             allow-image-select="$root.authorizer.userCanEditUser($root.user, $ctrl.user)"
    ></gg-user>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a ng-click="$ctrl.showGroups = !$ctrl.showGroups" class="quick-action toggle" data-toggle="collapse" data-target="#groups-panel-body">
                <span ng-show="$ctrl.showGroups" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <span ng-hide="$ctrl.showGroups" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                {{$ctrl.isRootUser() ? 'My ' : ''}}Groups
                <span class="badge">{{$ctrl.groups.length}}</span>
                </a>
                <a ui-sref="groups.new" ng-show="$ctrl.isRootUser()" type="button" class="btn btn-info btn-sm quick-action" aria-label="add group">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Group
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="groups-panel-body">
            <div class="panel-body">
                <gg-group ng-repeat="group in $ctrl.groups" group="group"
                          show-edit="$root.authorizer.userCanEditGroup($root.user, group)"
                          show-delete="$root.authorizer.userCanDeleteGroup($root.user, group)"
                          show-select="$root.user != null"
                          on-edit="$state.go('groups.edit', {id: group.id})"
                          on-delete="$ctrl.deleteGroup(group)"
                          on-select="$state.go('groups.details', {id: group.id})">
                </gg-group>

                <p ng-show="$ctrl.groups.length == 0 && $ctrl.isRootUser()">You don't have any groups.</p>
                <p ng-show="$ctrl.groups.length == 0 && !$ctrl.isRootUser()">There are no groups for this user.</p>
            </div>
            <div class="panel-footer">
                <a ng-click="$ctrl.showGroups = !$ctrl.showGroups" data-toggle="collapse" data-target="#groups-panel-body">
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                    Hide Groups</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a ng-click="$ctrl.showDirectReports = !$ctrl.showDirectReports" class="quick-action toggle" data-toggle="collapse" data-target="#direct-reports-panel-body">
                <span ng-show="$ctrl.showDirectReports" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <span ng-hide="$ctrl.showDirectReports" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                {{$ctrl.isRootUser() ? 'My ' : ''}}Direct Reports
                <span class="badge">{{$ctrl.directReports.length}}</span>
            </a>
                <a ng-show="$ctrl.directReports.length > 0" class="btn btn-default quick-action" href="{{$ctrl.directReports | bccMailToAll}}">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="direct-reports-panel-body">
            <div class="panel-body">
                <gg-user ng-repeat="user in $ctrl.directReports"
                         user="user" compact="true"
                         show-edit="$root.authorizer.userCanEditUser($root.user, user)"
                         show-select="true"
                         on-edit="$state.go('users.edit', {id: user.id, returnTo: 'details'})"
                         on-select="$state.go('users.details', {id: user.id})"></gg-user>
                <p ng-show="$ctrl.directReports.length == 0 && $ctrl.isRootUser()">You don't have any direct reports.</p>
                <p ng-show="$ctrl.directReports.length == 0 && !$ctrl.isRootUser()">There are no direct reports for this user.</p>
            </div>
            <div class="panel-footer">
                <a ng-click="$ctrl.showDirectReports = !$ctrl.showDirectReports" data-toggle="collapse" data-target="#direct-reports-panel-body">
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                    Hide Direct Reports</a>
            </div>
        </div>
    </div>

</div>
