<div scroll-pos="keep">
    <h3>Users
        <a ui-sref="users.new" type="button" class="btn btn-info btn-sm" aria-label="add user">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </h3>
    <div class="well">
        <form class="form-inline extra-space-below" ng-submit="$ctrl.search()" promise-btn>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="first name" ng-model="$ctrl.searchFirstNameText">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="last name" ng-model="$ctrl.searchLastNameText">
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="$ctrl.searchRole">
                    <option value="">All Roles</option>
                    <option value="ADMIN,PASTOR,DIVISION_DIRECTOR,DIVISION_LEADER,GROUP_LEADER">All Leader Roles</option>
                    <option value="invalid" disabled>---</option>
                    <option value="ADMIN">{{"ADMIN" | enumToLabel}}</option>
                    <option value="PASTOR">{{"PASTOR" | enumToLabel}}</option>
                    <option value="DIVISION_DIRECTOR">{{"DIVISION_DIRECTOR" | enumToLabel}}</option>
                    <option value="DIVISION_LEADER">{{"DIVISION_LEADER" | enumToLabel}}</option>
                    <option value="GROUP_LEADER">{{"GROUP_LEADER" | enumToLabel}}</option>
                    <option value="CONTACT">{{"CONTACT" | enumToLabel}}</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info btn-sm" aria-label="search">Search</button>
                <a type="button" class="btn btn-default btn-sm" aria-label="clear" ng-click="$ctrl.clearSearch()">Clear</a>
            </div>
        </form>
        <div>
            <span ng-show="$ctrl.isFiltered" class="label label-primary">Filtered</span><span class="text-muted"> Count:</span>
            {{$ctrl.totalCount}}
            <span class="indented" ng-show="$root.authorizer.canDownloadUsers($root.user)"><a ng-click="$ctrl.download()"><span class="glyphicon glyphicon-download"></span> Download</a></span>
        </div>
    </div>
    <div>
        <email-copy-button email-addresses="$ctrl.emailAddresses"></email-copy-button>
    </div>
    <br/>
    <gg-user ng-repeat="user in $ctrl.users"
             user="user"
             show-edit="$root.authorizer.userCanEditUser($root.user, user)"
             allow-image-select="$root.authorizer.userCanEditUser($root.user, user)"
             show-remove="$root.authorizer.userCanDeleteUser($root.user, user)"
             confirm-remove="true"
             show-select="true"
             on-edit="$state.go('users.edit', {id: user.id})"
             on-remove="$ctrl.deleteUser(user)"
             on-select="$state.go('users.details', {id: user.id})"></gg-user>

    <div ng-show="$ctrl.noUsers()">No users found</div>

    <p class="text-danger" ng-show="$ctrl.totalCount > $ctrl.users.length">
        <button class="btn btn-default" ng-click="$ctrl.showMore()" promise-btn>Show {{$ctrl.showMoreCount()}} more</button>
        <button class="btn btn-default" ng-click="$ctrl.showAll()" promise-btn>Show all</button>
    </p>
</div>
