<div scroll-pos="keep">
    <h3>Groups
        <a ng-show="$root.authorizer.userCanCreateGroup($root.user)" ui-sref="groups.new" type="button" class="btn btn-info btn-sm" aria-label="add group">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </h3>

    <grace-group-listing
            limit="50" no-results-message="No groups found."
            on-edit-group="$state.go('groups.edit', {id: group.id})"
            on-select-group="$state.go('groups.details', {id: group.id})"
            on-group-members="$state.go('groups.members.view', {id: group.id})">
    </grace-group-listing>

</div>
